{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}  

<div>
    
    <h1>Create Task</h1>  

        <form method="POST" action="" enctype="multipart/form-data">  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><button>Create</button></td>
                </tr>  
            </table>  
        </form>

</div>  

{% endblock content %}