{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
<style>
    head, body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }

    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background: linear-gradient(#094f94cd, rgba(158, 18, 201, 0.4));   
    }

    .form-login {
      max-width: 400px;
      padding: 25px;
    }

    .form-login .form-floating:focus-within {
      z-index: 1;
    }

    .form-login input[type="text"] {
      margin-bottom: 5px;
    }

    .form-login input[type="password"] {
      margin-bottom: 5px;
    }
</style>
{% endblock meta %}

{% block content %}
<main class="form-login w-100 m-auto text-center">
    <form method="POST" action="">
        {% csrf_token %}
        <h1 class="h1 mb-3 fw-semibold">LOGIN</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            <label for="password">Password</label>
        </div>
        <input class="w-100 mt-2 btn btn-lg btn-primary" type="submit" value="Login"></input>

        {% if messages %}
            {% for message in messages %}
                <p class="text-muted">{{ message }}</p>
            {% endfor %}
        {% endif %}        
        <p class="m-3 p-3">Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></p>        
    </form>  
</main>
{% endblock content %}