{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<style>
    head, body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }

    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background: linear-gradient(#094f94cd, rgba(158, 18, 201, 0.4));     
    }
    
    .form-register {
      max-width: 400px;
      padding: 25px;
    }

    .form-register .form-floating:focus-within {
      z-index: 1;
    }

    .form-register input[type="text"] {
      margin-bottom: 5px;
    }

    .form-register input[name="password1"] {
      margin-bottom: 5px;
    }

    .form-register input[name="password2"] {
      margin-bottom: 5px;     
    }
</style>
{% endblock meta %}

{% block content %}
<main class="form-register w-100 m-auto text-center">
    <form method="POST" action="">
        {% csrf_token %}  

        <h1 class="h1 mb-3 fw-semibold text-center">REGISTER</h1>
        
        <div class="form-floating">
            <input type="text" class="form-control" name="username" autocapitalize="none" autocomplete="username" autofocus placeholder="Enter username" required>
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password1" id="password" autocomplete="new-password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password2" id="password" autocomplete="new-password" placeholder="Confirm Password" required>
            <label for="password">Confirm Password</label>
        </div>        
        <input class="w-100 mt-2 btn btn-lg btn-primary" type="submit" value="Daftar"></input>

        {% if messages %}
            {% for message in messages %}
                <p class="text-muted">{{ message }}</p>
            {% endfor %}
        {% endif %}        
        <p class="mt-3 mb-3">Sudah mempunyai akun? <a href="{% url 'todolist:login' %}">Masuk</a></p>        
    </form>  
</main>
{% endblock content %} 