{% extends 'base.html' %}
{% block content %}
<h3>Welcome {{user}}!</h3>
<br>
<button><a href="{% url 'todolist:create-task' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<br>
<br>
<table border="1">
    <tr>
    <th>Tanggal</th>
    <th>Judul</th>
    <th>Deskripsi</th>
    <th>Status</th>
    <th colspan="2">Detail</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for todo in list_barang %}
        <tr>
            <th>{{todo.date}}</th>
            <th>{{todo.title}}</th>
            <th>{{todo.description}}</th>
            {% if todo.is_finished %}
            <th>Selesai</th>
            {% else %}
            <th>Belum Selesai</th>
            {% endif %}
            <th><button><a href="{% url 'todolist:status' todo.id %}">Ubah Status</a></button></th>
            <th><button><a href="{% url 'todolist:hapus' todo.id %}">Hapus Task</a></button></th>
        </tr>
    {% endfor %}
</table>
{% endblock content %}